html, body {
  min-height: 100%;
}

body {
  background-color: grey;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  padding: 5%;
  margin: 2%;
  background-color: blue;
}

.player1 {
  background-color: yellow;
}